<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qingbo.monk"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" /> <!-- 捕获屏幕所需权限，Q后新增权限(多人音视频屏幕分享使用) -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /> <!-- Oppo推送配置（如果应用无透传权限，则不用配置） start -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" /> <!-- Mi推送配置 start -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" /> <!-- 华为推送配置 start -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" /> <!-- 华为推送角标 -->
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

    <queries>
        <package android:name="com.tencent.mm" />
        // Android 11-第三方应用无法拉起微信适配 指定微信包名
    </queries>

    <application
        android:name=".base.MonkApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,allowBackup">
        <activity
            android:name=".person.activity.MyFeedBack_Activity"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyHistory_Activity"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyComment_Activity"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Harvest"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Achievement"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Learn"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Resources"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Industry"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_Change_Interest"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_ChangePage_Add"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_ChangePage"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_ChangeExplain"
            android:exported="false" />
        <activity
            android:name=".person.activity.Edit_ChangeName"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyAndOtherEdit_Card"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyGroupList_Activity"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyInterestList_Activity"
            android:exported="false" />
        <activity
            android:name=".person.activity.MyAndOther_Card"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.InterestCrate_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.InterestDetail_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipInterest_Activity"
            android:exported="false" />
        <activity
            android:name=".home.activity.CombinationDetail_CommentList_Activity"
            android:exported="false" />
        <activity
            android:name=".home.activity.CombinationDetail_Activity"
            android:exported="false" />
        <activity
            android:name=".home.activity.ArticleDetali_CommentList_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipPersonList_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipPersonDetail_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipCombination_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipFund_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipStock_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipExpert_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipFollow_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipInsider_Activity"
            android:exported="false" />
        <activity
            android:name=".Slides.activity.SideslipMogul_Activity"
            android:exported="false" />
        <activity
            android:name=".home.activity.ArticleDetail_Activity"
            android:exported="false" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity
            android:name=".home.activity.BeginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.MainActivity" />
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".login.activity.LoginWithCodeActivity" />
        <activity android:name=".login.activity.BindPhoneNumberActivity" />
        <activity android:name=".login.activity.GetPhoneCodeStepTwoActivity" />
        <activity android:name=".login.activity.WelcomeActivity" />
        <activity android:name=".login.activity.LoginMoreInfoActivity" />
        <activity android:name=".login.activity.AreaCodeListActivity" />
        <activity android:name=".login.activity.ChooseIndustryActivity" />
        <activity android:name=".webview.WebviewActivity" />
        <activity android:name=".message.activity.ContactListActivity" />
        <activity
            android:name=".message.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".question.activity.CreateGroupStepOneActivity" />
        <activity android:name=".question.activity.CreateGroupStepTwoActivity" />
        <activity android:name=".question.activity.AllGroupListActivity" />
        <activity android:name=".question.activity.GroupDetailActivity" />
        <activity android:name=".question.activity.GroupDetailMoreInfoActivity" />
        <activity android:name=".question.activity.GroupMemberListActivity" />
        <activity android:name=".question.activity.GroupManagerActivity" />
        <activity android:name=".question.activity.GroupManagerSetCostActivity" />
        <activity android:name=".question.activity.GroupManagerOrPartnerListActivity" />
        <activity android:name=".question.activity.SetGroupManagerOrPartnerListActivity" />
        <activity android:name=".question.activity.SelectMemberListActivity" />
        <activity android:name=".question.activity.CheckOtherGroupDetailActivity" />
        <activity android:name=".question.activity.InvitePartnerActivity" />
        <activity android:name=".question.activity.ChooseThemeActivity" />
        <activity android:name=".question.activity.PreviewGroupDetailActivity" />
        <activity android:name=".question.activity.PublisherQuestionActivity" />
        <activity android:name=".question.activity.PublisherGroupTopicActivity" />
        <activity android:name=".question.activity.PublisherAnswerQuestionToPeopleActivity" />
        <activity android:name=".question.activity.PublisherAskQuestionToPeopleActivity" />
        <activity android:name=".question.activity.MyGroupListActivity" />
        <activity android:name=".question.activity.ApplyExitGroupOrMoneyActivity" />
        <activity android:name=".question.activity.GroupTopicDetailActivity" />
        <activity android:name=".Slides.activity.AAndHKDetail_Activity" />
        <activity
            android:name=".question.activity.GroupSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".base.PhotoShowActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 极光分享结束… -->
        <!-- 微信支付开始… -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" /> <!-- 微信支付结束… -->
        <service android:name=".message.activity.WebSocketService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>